

.modifybtn, .deletebtn {
    background-color: rgb(23, 23, 152);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 38px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
}


.modifybtn:hover, .deletebtn:hover {
    background-color: rgb(15, 15, 194);
}

#tableContainer {
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    color: rgb(19, 89, 159);
    background-color: #b8d8f9;
}

th {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 18px;
    border-bottom: 1px solid black;
}

td {
    font-size: 14px;
    border-bottom: 1px solid black;
}

tr:last-child td {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

tr:hover {
    background-color: #f9f9f9;
}