* {
    box-sizing: border-box;
}

body {
    background-color: #f8fafc;
    width: 95%;
    max-width: 1400px;
    margin: 50px auto;
    margin-left: 35px;
    font-family:Arial, Helvetica, sans-serif;
}

#title {
    font-size: 35px;
    color: darkblue;
    margin-bottom: 1%;
}

#searchbar {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid rgb(237, 237, 237);
    margin-top: 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: horizontal;
    flex: 1;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}

#Searchtitle {
    padding-left: 10px;
}

.inputbox {
    width: 250px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left:10px;
    font-size: 16px;
}

.searchbtn {
    background-color: rgb(23, 23, 152);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbtn:hover {
    cursor: pointer;
    background-color: rgb(15, 15, 194);
}

#tableContainer {
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

thead {
    color: rgb(19, 89, 159);
    background-color: #b8d8f9;
}

th {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 18px;
    border-bottom: 1px solid black;
}

td {
    padding: 16px;
    font-size: 14px;
    border-bottom: 1px solid black;
}

tr:last-child td {
    border-bottom: none;
}

tbody:hover {
    background-color: #f1f5f9;
}