* {
    box-sizing: border-box;
}

body {
    background-color: #f8fafc;
    width: 95%;
    max-width: 1400px;
    margin: 50px auto;
    margin-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-size: 35px;
    color: darkblue;
    margin-bottom: 1%;
}

#searchbar {
    background-color: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    border: 1px solid rgb(237, 237, 237);
    margin-top: 0;
    margin-bottom: 24px;
    display: flex;
    flex-direction: horizontal;
    flex: 1;
    align-items: flex-end;
    gap: 20px;
    flex-wrap: wrap;
}

#Searchtitle {
    padding-left: 10px;
}

.inputbox {
    width: 250px;
    height: 35px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding-left:10px;
    font-size: 16px;
}

.searchbtn {
    background-color: rgb(23, 23, 152);
    color: white;
    font-size: 20px;
    font-weight: bold;
    height: 50px;
    width: 100px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.searchbtn:hover {
    cursor: pointer;
    background-color: rgb(15, 15, 194);
}

.secondHalf {
    padding-left: 40px;
}

.tsecondHalf {
    padding-left: 30px;
}

.indMark {
    text-align: center;
}

table {
    margin-bottom: 2%;
}

td, th {
    font-size: 18px;
    padding: 10px;
    padding-bottom: 0;
}

textarea {
    resize: vertical;
    field-sizing: content;
    font-size: 18px;
    margin-top: 1.5%;
}

.inputMark {
    font-size: 18px;
    height: 25px;
    field-sizing: content;
    text-align: center;
}

.infoContainer {
    padding-left: 2%;
    background: whitesmoke;
    border-radius: 12px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    margin-bottom:1%;

}

.infoTitle {
    font-weight: bold;
    font-size: 30px;
    margin-top: 2%;
}

.formbtn {
    background-color: rgb(23, 23, 152);
    color: white;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    width: 90px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.formbtn:hover {
    cursor: pointer;
    background-color: rgb(15, 15, 194);
}

#prevNAV {
    width: 70px;
    height: 70px;
}

#nextNAV {
    width: 70px;
    height: 70px;
}

#recordCount {
    font-size: 50px;
    padding-left: 10px;
    padding-right: 20px;
}

#navposition {
    margin-left: auto;
    margin-right: auto;
}

.navlabel {
    text-align: center;
    font-size: 20px;
}